---
import { getCollection } from "astro:content";
import type { ProjectSchema } from "@content/config";

const shownProjects = await getCollection(
  "projects",
  ({ data }: { data: ProjectSchema }) => data.show !== "hidden"
);

const sortedProjects = shownProjects.toSorted((a, b) => {
  if (a.data.year > b.data.year) {
    return -1;
  } else if (b.data.year > a.data.year) {
    return 1;
  } else {
    return 0;
  }
});

import Layout from "@layouts/Layout.astro";
import Link from "@components/Link.astro";
import { Dialog } from "@components/Dialog";

import Icon from "@components/Icon.astro";
import { Image } from "astro:assets";
---

<Layout>
  <section class="br">
    <hgroup>
      <h1>Roni Tuohino</h1>
      <p>Fullstack Developer</p>
    </hgroup>

    <p>I love building software and going climbing</p>

    <ul class="links">
      <li>
        <Dialog client:only>
          <Icon slot="button" icon="note" class="note" />
          <Image src="/book.png" alt="Roni Tuohino" width={601} height={798} />
        </Dialog>
      </li>
      <li>
        <Icon icon="key" class="key" />
      </li>
      <li>
        <Link
          ariaLabel="See my GitHub profile"
          href="https://github.com/ronituohino"
        >
          <Icon icon="github" />
        </Link>
      </li>
      <li>
        <Link
          ariaLabel="See my Linkedin profile"
          href="https://www.linkedin.com/in/ronituohino/"
        >
          <Icon icon="linkedin" />
        </Link>
      </li>
      <li>
        <Link ariaLabel="Send me an email" href="mailto:rt@ronituohino.com">
          <Icon icon="email" />
        </Link>
      </li>

      <li>
        <Link href="/ronituohino-resume.pdf" title="Download résumé (CV)"
          ><Icon icon="cv" /></Link
        >
      </li>
    </ul>
  </section>

  <Dialog client:only button="test">
    <ol>
      {
        sortedProjects.map((project) => {
          const infoLine =
            project.data.organization !== ""
              ? [project.data.year, project.data.organization].join(" · ")
              : project.data.year;

          return (
            <li>
              <Link
                href={project.data.links[0]}
                ariaLabel={`${project.data.title}: 
                ${project.data.description}
                (${infoLine}${project.data.show === "featured" ? ", featured" : ""})`}
              >
                <div>
                  {project.data.show === "featured" && <p>Star!</p>}
                  <div>
                    <p>{project.data.title}</p>
                    <p>{infoLine}</p>
                  </div>
                </div>
              </Link>
            </li>
          );
        })
      }
    </ol>
  </Dialog>
</Layout>

<style>
  h1,
  p {
    filter: drop-shadow(0px 0px 6px hsl(0, 0%, 25%));
  }

  .br {
    padding: var(--content-padding);
    position: absolute;
    bottom: 0;
    right: 0;

    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: end;
    gap: 1rem;

    max-width: 500px;
  }

  .links {
    display: flex;
    flex-direction: row;
    gap: 0.25rem;
    flex-wrap: wrap;
    justify-content: end;
  }
</style>
