---
import { getCollection, type CollectionEntry } from "astro:content";
import type { ProjectSchema } from "@content/config";

const shownProjects = (await getCollection(
  "projects",
  ({ data }: { data: ProjectSchema }) => data.show !== "hidden"
)) satisfies CollectionEntry<ProjectSchema>[];

const sortedProjects = shownProjects.toSorted((a, b) => {
  if (a.data.year > b.data.year) {
    return -1;
  } else if (b.data.year > a.data.year) {
    return 1;
  } else {
    return 0;
  }
});

import Layout from "@layouts/Layout.astro";
import Link from "@components/Link.astro";
---

<Layout>
  <hgroup>
    <h1>Roni Tuohino</h1>
    <p>Fullstack Developer</p>
  </hgroup>
  <p>
    I enjoy engineering solutions.
    <br />
    Check out projects I've worked on and download my résumé!
  </p>
  <ul>
    <li>
      <Link
        ariaLabel="See my GitHub profile"
        href="https://github.com/ronituohino"
      >
        Git
      </Link>
    </li>
    <li>
      <Link
        ariaLabel="See my Linkedin profile"
        href="https://www.linkedin.com/in/ronituohino/"
      >
        Li
      </Link>
    </li>
    <li>
      <Link ariaLabel="Send me an email" href="mailto:rt@ronituohino.com">
        Mail
      </Link>
    </li>

    <li class="resume">
      <Link href="/ronituohino-resume.pdf" title="Download résumé">Down</Link>
    </li>
  </ul>
  <ol>
    {
      sortedProjects.map((project) => {
        const infoLine =
          project.data.organization !== ""
            ? [project.data.year, project.data.organization].join(" · ")
            : project.data.year;

        return (
          <li>
            <Link
              href={project.data.links[0]}
              ariaLabel={`${project.data.title}: 
              ${project.data.description}
              (${infoLine}${project.data.show === "featured" ? ", featured" : ""})`}
            >
              <div class="card">
                {project.data.show === "featured" && <p>Star!</p>}
                <div class="details">
                  <p>{project.data.title}</p>
                  <p class="info">{infoLine}</p>
                </div>
              </div>
            </Link>
          </li>
        );
      })
    }
  </ol>
</Layout>

<style lang="less"></style>
