---
import "@fontsource-variable/inter";
import interWoff2 from "@fontsource-variable/inter/files/inter-latin-wght-normal.woff2?url";

const title = "Roni Tuohino";
const description =
  "Roni Tuohino is a Finnish fullstack developer who enjoys engineering solutions.";
const ogHref = `${Astro.site}og.png`;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="manifest" href="/manifest.json" />
    <link rel="canonical" href={Astro.site} />

    <title>{title}</title>
    <meta name="description" content={description} />
    <meta name="image" content={ogHref} />
    <meta name="theme-color" content="#141414" />

    {/* Required OG metadata */}
    {/* For larger sites, og:title and og:desc should be different */}
    <meta property="og:title" content={title} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={Astro.site} />
    <meta property="og:image" content={ogHref} />

    {/* Optional OG metadata */}
    <meta property="og:locale" content="en_US" />
    <meta property="og:site_name" content={title} />
    <meta property="og:description" content={description} />

    {/* Favicon */}
    <link
      rel="icon"
      type="image/png"
      sizes="512x512"
      href="/favicon/favicon-512x512.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="192x192"
      href="/favicon/favicon-192x192.png"
    />
    <link
      rel="apple-touch-icon"
      type="image/png"
      sizes="180x180"
      href="/favicon/favicon-180x180.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/favicon/favicon-16x16.png"
    />

    <link
      rel="preload"
      as="font"
      type="font/woff2"
      href={interWoff2}
      crossorigin
    />

    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="generator" content={Astro.generator} />
  </head>
  <body>
    <main>
      <slot />
    </main>

    <style is:global lang="less">
      * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        border: 0;
      }

      ul,
      li {
        list-style-type: none;
      }

      button {
        cursor: pointer;
      }

      a {
        text-decoration: none;
      }

      img {
        height: auto;
        max-width: 100%;
        vertical-align: middle;
        font-style: italic;
      }
    </style>

    <style lang="less">
      :root {
        --white: hsl(0, 0%, 92%);
        --dim: hsl(0, 0%, 50%);
        --background: #141414;
        --primary: #fecaff;
        --secondary: #01b1ff;

        --bento-min-size: 220px;
        --bento-border: #2c2c2c;
        --bento-bg: #151515;
        --bento-gap: 0.5rem;

        --content-padding: 1rem;
        /* If you update this, remember to update 
        body::before and ::after */
        --max-width: 768px;

        --transition-speeds: 150ms;

        --font-size-xl: 50px;
        --font-size-lg: 36px;
        --font-size-md: 20px;
        --font-size-sm: 10px;

        --font-weight-bold: 750;
        --font-weight-normal: 600;
        --font-weight-light: 400;

        font-size: var(--font-size-md);
        color: var(--white);
        background: var(--background);
      }
      html {
        font-family: "Inter Variable", Ubuntu, sans-serif;
        font-weight: var(--font-weight-normal);
      }
      body {
        background-image: url("/spot.svg");
        background-size: 40px 40px;
        background-position: top;
      }
      main {
        position: relative;
        margin: 0 auto;
        max-width: var(--max-width);
        padding: var(--content-padding) var(--content-padding);
        background-color: #141414;
      }

      body::before {
        content: "";
        position: absolute;
        top: 0;
        right: calc(var(--max-width) + ((100vw - var(--max-width)) / 2));
        background: linear-gradient(
          90deg,
          transparent 0%,
          var(--background) 100%
        );
        height: 100%;
        width: calc((100vw - var(--max-width)) / 2);

        /* --max-width * 2 + 2 * width */
        @media only screen and (min-width: 1368px) {
          width: 300px;
        }
      }
      body::after {
        content: "";
        position: absolute;
        top: 0;
        left: calc(var(--max-width) + ((100vw - var(--max-width)) / 2));
        background: linear-gradient(
          270deg,
          transparent 0%,
          var(--background) 100%
        );
        height: 100%;
        width: calc((100vw - var(--max-width)) / 2);

        @media only screen and (min-width: 1368px) {
          width: 300px;
        }
      }
    </style>
  </body>
</html>
