---
import { Background } from "@components/Background";

const title = "Roni Tuohino";
const description =
  "Roni Tuohino is a Finnish fullstack developer who loves building software and going climbing.";
const ogHref = `${Astro.site}og.png`;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="manifest" href="/manifest.json" />
    <link rel="canonical" href={Astro.site} />

    <title>{title}</title>
    <meta name="description" content={description} />
    <meta name="image" content={ogHref} />
    <meta name="theme-color" content="#141414" />

    {/* Required OG metadata */}
    {/* For larger sites, og:title and og:desc should be different */}
    <meta property="og:title" content={title} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={Astro.site} />
    <meta property="og:image" content={ogHref} />

    {/* Optional OG metadata */}
    <meta property="og:locale" content="en_US" />
    <meta property="og:site_name" content={title} />
    <meta property="og:description" content={description} />

    {/* Favicon */}
    <link
      rel="icon"
      type="image/png"
      sizes="512x512"
      href="/favicon/favicon-512x512.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="192x192"
      href="/favicon/favicon-192x192.png"
    />
    <link
      rel="apple-touch-icon"
      type="image/png"
      sizes="180x180"
      href="/favicon/favicon-180x180.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/favicon/favicon-16x16.png"
    />

    <link
      rel="preload"
      as="font"
      type="font/woff2"
      href="/fonts/ark-pixel-16px-proportional-latin.woff2"
    />
    <link
      rel="preload"
      as="font"
      type="font/woff2"
      href="/fonts/ark-pixel-10px-proportional-latin.woff2"
    />

    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="generator" content={Astro.generator} />
  </head>
  <body>
    <Background client:only />

    <main>
      <slot />
    </main>

    <style is:global lang="less">
      * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        border: 0;
      }

      ul,
      li {
        list-style-type: none;
      }

      button {
        cursor: pointer;
      }

      a {
        text-decoration: none;
      }

      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        font-weight: 400;
        font-family: "ArkPixel16", "Ubuntu", sans-serif;
        font-size: 2rem;
      }

      img {
        height: auto;
        max-width: 100%;
        vertical-align: middle;
        font-style: italic;
      }

      code {
        font-family: "ArkPixel10", Ubuntu, sans-serif;
        font-size: 24px;
      }
    </style>

    <style lang="less">
      :root {
        --white: hsl(0, 0%, 92%);

        --content-padding: 0.5rem;
        --max-width: 768px;

        --transition-speeds: 150ms;

        color: var(--white);
        background: var(--background);
      }

      @font-face {
        font-family: "ArkPixel10";
        src: url("/fonts/ark-pixel-10px-proportional-latin.woff2")
          format("woff2");
        font-weight: normal;
        font-style: normal;
        font-display: swap;
      }
      @font-face {
        font-family: "ArkPixel16";
        src: url("/fonts/ark-pixel-16px-proportional-latin.woff2")
          format("woff2");
        font-weight: normal;
        font-style: normal;
        font-display: swap;
      }

      html {
        font-family: "ArkPixel10", Ubuntu, sans-serif;
        font-size: 24px;
        line-height: 1;
        overflow: hidden;
      }

      @media screen and (min-width: 768px) {
        :root {
          --content-padding: 1rem;
        }
        html {
          font-size: 32px;
        }
      }

      main {
        touch-action: none;
        position: relative;
        height: 100vh;
        margin: 0 auto;
      }
    </style>
  </body>
</html>
